* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  font-family: "Fira Sans", "Avenir Next", sans-serif; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

#container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-align-items: stretch;
  align-items: stretch;
  min-height: 100%;
  padding: 0 0.5em; }

#read-area {
  background: #101B30;
  color: #FFFFFF;
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

#sidebar {
  color: #57C1D8;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  max-width: 240px;
  background: #2B3E59; }
  #sidebar img {
    display: inline-block;
    padding: 1em 0.2em 0em 0.2em; }
  #sidebar div.titles {
    display: inline-block;
    position: absolute;
    top: 1.5em; }
  #sidebar header#title {
    position: relative;
    min-height: 3em;
    margin: 1em; }
    #sidebar header#title span.verse-title {
      padding-left: 1em;
      font-size: 0.875em; }
      #sidebar header#title span.verse-title strong {
        font-weight: bold; }
    #sidebar header#title em {
      display: block;
      font-style: normal;
      font-size: 0.875em;
      padding-left: 1.14286em; }
    #sidebar header#title h1 {
      color: white;
      font-size: 24; }
    #sidebar header#title ul.docs-site {
      margin-top: -0.5em;
      z-index: 2;
      position: relative;
      width: 200px;
      overflow: hidden; }
      #sidebar header#title ul.docs-site:hover {
        background: #1C293F;
        border-radius: 8px;
        -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); }
        #sidebar header#title ul.docs-site:hover li {
          display: block; }
      #sidebar header#title ul.docs-site li {
        position: relative;
        display: none; }
        #sidebar header#title ul.docs-site li:first-child {
          display: block; }
          #sidebar header#title ul.docs-site li:first-child:before {
            content: none; }
        #sidebar header#title ul.docs-site li:before {
          content: '';
          display: block;
          height: 1px;
          background: rgba(87, 193, 216, 0.15);
          width: 90%;
          margin: 0 auto;
          pointer-events: none; }
        #sidebar header#title ul.docs-site li a.active {
          font-weight: bold;
          font-size: 1.25em;
          line-height: 2.4em;
          height: 2.4em;
          display: block;
          padding-left: 0.8em;
          color: #FFFFFF; }
        #sidebar header#title ul.docs-site li a {
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -ms-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
          height: 3em;
          line-height: 3em;
          vertical-align: middle;
          padding-left: 1em;
          color: #57C1D8; }
          #sidebar header#title ul.docs-site li a:hover {
            color: #FFFFFF;
            background: rgba(87, 193, 216, 0.0875);
            font-weight: bold;
            font-size: 20px;
            padding-left: 0.8em;
            height: 2.4em;
            line-height: 2.4em; }
  #sidebar ul li {
    display: block; }
  #sidebar .category-title {
    text-transform: uppercase;
    margin: 1em 2em 0em 2em;
    padding: 1em 0em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 1em;
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.45); }
    #sidebar .category-title h1 {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
  #sidebar nav a {
    display: block;
    font-weight: normal;
    text-decoration: none; }
    #sidebar nav a:hover {
      color: white;
      background: #57C1D8; }
  #sidebar ul.titles a.title-link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #FFFFFF, 0.8;
    font-size: 1em;
    padding: 0.5em 1.5em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    background: none; }
    #sidebar ul.titles a.title-link:hover, #sidebar ul.titles a.title-link.active {
      color: white; }
    #sidebar ul.titles a.title-link span.word-count {
      font-size: 0.85em;
      vertical-align: baseline;
      opacity: 1; }
  #sidebar ul.titles a.subtitle-link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875em;
    padding: 0.5em 2.5em;
    padding-right: 1.5em; }
    #sidebar ul.titles a.subtitle-link span.word-count {
      opacity: 0; }
    #sidebar ul.titles a.subtitle-link:hover {
      background: #57C1D8;
      color: white; }
      #sidebar ul.titles a.subtitle-link:hover span.word-count {
        opacity: 1; }
    #sidebar ul.titles a.subtitle-link.active {
      color: white;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
      background: rgba(87, 193, 216, 0.15);
      font-weight: bold; }
  #sidebar span.word-count {
    margin-left: auto; }

.post #table-of-contents a {
  color: #FFFFFF;
  font-weight: bold; }

#read-area.dissertation article {
  padding: 1.25em 0 1.25em 2.5em; }
#read-area.dissertation blockquote {
  background: rgba(43, 62, 89, 0.15);
  padding: 1em 0.5em;
  border-left: 4px solid #57C1D8; }

.post .split-view {
  position: relative;
  z-index: 2; }
  .post .split-view:before {
    content: '';
    display: block;
    background: #1C293F;
    position: absolute;
    height: 100%;
    width: 40%;
    padding: 0 1em; }

.post .content h1#sec-1 {
  border-bottom: 2px solid #57C1D8;
  padding: 1.5em 1em 0.5em 1em;
  margin-bottom: 1em; }
.post .content div {
  padding: 0.5em 0em; }
.post .content ul li:before {
  content: "\2022";
  color: #57C1D8;
  padding-right: 0.5em;
  font-weight: bold; }
.post .content h1 {
  padding: 0.5em 0;
  font-size: 2em; }
.post .content div > p {
  padding: 1em 0; }
.post .content .todo {
  border: 2px solid #25274B;
  font-size: 0.5em;
  padding: 0 0.25em;
  border-radius: 5px;
  vertical-align: middle; }
.post .content .outline-2, .post .content .outline-3 {
  position: relative; }
  .post .content .outline-2 h2, .post .content .outline-3 h2 {
    font-size: 1.125em;
    text-transform: uppercase; }
  .post .content .outline-2 h3, .post .content .outline-3 h3 {
    font-size: 1em; }
  .post .content .outline-2 .org-src-container, .post .content .outline-3 .org-src-container {
    padding-top: 1em;
    position: absolute;
    top: 0;
    left: 45%;
    vertical-align: top; }
.post .content pre {
  font-family: "Input Mono Narrow";
  font-size: 0.8125em;
  font-weight: 200; }

body {
  background: #222C3B; }

#read-area {
  background: #101B30;
  color: #FFFFFF; }

#sidebar {
  color: #FFFFFF;
  background: #2B3E59; }
  #sidebar header#title h1 {
    color: #FFFFFF; }
  #sidebar nav a {
    color: #FFFFFF; }

.post #table-of-contents a {
  color: #FFFFFF; }

.content {
  width: 35em; }

.post-content:before {
  background: #1C293F; }
