<nav id="main-nav">
  <header id="title">
    <img class="site-logo" alt="logo" src=""/>
    <div class="titles">
      <span class="verse-title">NCL<strong>Verse</strong></span>
      <ul class="docs-site">
        <li><a></a></li>
      </ul>
    </div>
  </header>
  <div class="category">
    <header class="category-title"><h1></h1></header>
    <ul class="titles">
      <li><a class="title-link"></a>
        <ul class="subtitles"><li> <a class="subtitle-link"></a></li></ul>
      </li>
      </ul>
  </div>
</nav>
